<div class="container">
    <div class="row mb-4 mt-4">
        <div class="col-10">
        </div>
        <div class="col-1">
            <button class="btn btn-success btn-sm" id="mynews" type="submit">My News</button>
        </div>
        <div class="col-1">
            <button class="btn btn-white btn-sm" id="scrape" type="submit">Scrape</button>
        </div>
    </div>
    <div class="row mt-5 titlepage"></div>
    <h1 class="text-center mb-2">Latest from LA Times Travel - Mongo Scraper</h1>
    <hr class="mb-5">
</div>

<div class="container">

    {{#each articles}}
    <div class="row mb-3 articlestyle">
        <div class="col-3 mb-1">
            <a target="_blank" href="{{{link}}}">
                <img style="width:240px;height:160px;" src="{{{image}}}">
            </a>
        </div>

        <div class="col-5">
            <row class='title mb-1'>
                {{title}}
            </row>
            <br>
            <row class='summary'>
                {{summary}}
            </row>
        </div>
        <div class="col-2 align-middle summary">
            {{formatDate date day="numeric" month="long" year="numeric"}}
        </div>
        <div class="col-2">
            <button class="savearticle btn btn-sm align-middle" data-id="{{_id}}">Save Article</button>
        </div>
    </div>
    {{/each}}

</div>
</div>

<script src="../js/app.js"> </script>

{{!-- <div>
    <h1 class="card z-depth-3 center-align">Read the Latest from 'The Verge'</h1>
    <div class="row">
        <div class="col s3"></div>
        <h5 class="card z-depth-3 center-align col s6">Click 'Scrape' to get the latest articles</h5>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8 left-align">
        {{#each article}}
        <div class="card-panel">
            <h4>{{this.title}}</h4>
            <a href="/readArticle/{{this._id}}" class="waves-effect waves-light btn" id="btnSignUp">Read Article</a>
        </div>
        {{/each}}
    </div>
</div> --}}